.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.attendance__detail--title h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    border-left: 5px solid black;
    padding-left: 10px;
}

.attendance__detail--table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 10px 0;
    border-collapse: collapse;
}

.attendance__detail--table tr {
    border-bottom: 2px solid #ddd;
}

.attendance__detail--table tr:last-child {
    border-bottom: none;
}

.attendance__detail--table table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: none;
}

.attendance__detail--table th,
.attendance__detail--table td {
    padding: 15px 70px 15px 70px;
    text-align: left;
}

.attendance__detail--table th {
    background-color: #ffffff;
    font-weight: bold;
    width: 35%;
    color: #737373;
}

.attendance__detail--table td {
    width: auto;
    color: #000000;
    font-weight: 700;
}

.attendance__detail--table input {
    width: 100px;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
}

.attendance__detail--table textarea {
    width: 100%;
    resize: none;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
}

.notRequesting {
    border: 1px solid #e1e1e1;
}

.requesting {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: not-allowed;
    font-size: 16px;
}

.requesting input,
.requesting textarea {
    border: none;
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
}

.attendance__request--button {
    text-align: right;
    margin-top: 50px;
}

.attendance__request--button .btn {
    width: 130px;
    height: 50px;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
}

.attendance__request--button .btn-success {
    background-color: #696969;
}

@media (max-width: 850px){
    .attendance__detail--table table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .attendance__detail--table th {
        width: 20%;
        white-space: nowrap;
    }

    .attendance__detail--table textarea {
        width: 400px;
    }
}